body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/maxresdefault.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.judul{
    font-family:inherit;
    font-size: 60px;
    color:#ff7e00;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
}
.sub-judul{
    font-family:inherit;
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
}
.section2{
    padding: 110px 0px;
    background: #ffff;
}
.col-kiri{
    background:#e5400c;
    font-family: arial;
    font-size: 20px;
    color: #ffff;
}
.col-tengah{
    background:#e65401;
    font-family: arial;
    font-size: 20px;
    color: #ffff;
}
.col-kanan{
    background:#b0a57f;
    font-family: arial;
    font-size: 20px;
    color: #ffff;
}
.section3{
    min-height: 300px;
    padding: 50px 0px;
    background: yellow;
}
.link{
    padding: 5px 10px;
    color: #000;
}
.link:hover{
    background:#b0a57f;
    color: white;
}